<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

    </style>
</head>
<body>
    <div class="iphone-6-container">
        <div class="header">
          <div class="search">
            <p>Search...</p>
          </div>
          <div class="profile hide">
            <img src="https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg" alt="dude" />
            <div class="profile-info">
              <h2>Matt Ladd</h2>
              <p>Viral stumptown fanny pack, vice tote bag tattooed dreamcatcher banjo narwhal swag...</p>
            </div>
          </div>
          <ul class="navigation">
            <li><a href="#" class="active">Feed</a></li>
            <li><a href="#" class="messages">Messages</a></li>
            <li><a href="#" class="alerts">Alerts</a></li>
            <li><a href="#">Profile</a></li>
          </ul>
        </div>
        <!--div class="gallery">
          <div class="gallery-item" id="item-1"></div>
          <div class="gallery-item" id="item-2"></div>
          <div class="gallery-item" id="item-3"></div>
        </div-->
        <div class="write-post">
          <div class="type-of-post">
            <ul>
              <li><a href="#" class="active">Post</a></li>
              <li><a href="#">Photo/Video</a></li>
            </ul>
          </div>
          <div class="content">
            <p>Write your post here...</p>
          </div>
          <div class="user-submit">
            <a href="#">Post</a>
          </div>
        </div>
        <div class="posts">
          <div class="post post-1">
            <div class="user">
              <img src="https://s3.amazonaws.com/uifaces/faces/twitter/rem/128.jpg" alt="" />
              <div class="user-info">
                <h4>Matt Ladd Posted:</h4>
                <p>28 mins ago</p>
              </div>
            </div>
            <div class="post-info">
              <p>Ethical etsy gastropub trust fund. Banjo etsy 90's pop-up, truffaut twee austin direct trade viral.</p>
            </div>
            <div class="count">
              <ul>
                <li><a href="#" class="likes">55</a></li>
                <li><a href="#" class="comments">10</a></li>
              </ul>
            </div>
            <div class="user-actions">
              <ul>
                <li><a href="#">Like</a></li>
                <li><a href="#">Comment</a></li>
                <li><a href="#">Share</a></li>
              </ul>
            </div>
          </div>
          <div class="post post-2 post-img">
            <div class="user">
              <img src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" alt="" />
              <div class="user-info">
                <h4>Sarah Liked 'Nature Productions' post</h4>
                <p>34 mins ago</p>
              </div>
            </div>
            <div class="post-info">
              <img src="https://unsplash.it/100/100?image=10" alt="Trees" />
              <p>Ethical etsy gastropub trust fund. Banjo etsy 90's pop-up, truffaut twee austin direct trade viral chartreuse bitters meggings ugh.</p>
            </div>
            <div class="count">
              <ul>
                <li><a href="#" class="likes liked">108</a></li>
                <li><a href="#" class="comments">46</a></li>
                <li><a href="#" class="shares">10</a></li>
              </ul>
            </div>
            <div class="user-actions">
              <ul>
                <li><a href="#">Like</a></li>
                <li><a href="#">Comment</a></li>
                <li><a href="#">Share</a></li>
              </ul>
            </div>
          </div>
          <div class="post post-3 post-img">
            <div class="user">
              <img src="https://s3.amazonaws.com/uifaces/faces/twitter/adellecharles/128.jpg" alt="" />
              <h4>Sarah Liked 'Nature Productions' post</h4>
            </div>
            <div class="post-info">
              <img src="https://unsplash.it/100/100?image=10" alt="Trees" />
              <p>Ethical etsy gastropub trust fund. Banjo etsy 90's pop-up, truffaut twee austin direct trade viral chartreuse bitters meggings ugh.</p>
            </div>
            <div class="count">
              <ul>
                <li><a href="#" class="likes liked">108</a></li>
                <li><a href="#" class="comments">46</a></li>
                <li><a href="#" class="shares">10</a></li>
              </ul>
            </div>
            <div class="user-actions">
              <ul>
                <li><a href="#">Like</a></li>
                <li><a href="#">Comment</a></li>
                <li><a href="#">Share</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
</body>
</html>